.basic-info-profile-container {
    border: 1px solid black;
    padding: 30px;
    display: flex;
    float: left;
}

.basic-info-profile-icon {  
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.basic-info-profile-data {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-right: 20px;
    font-weight: bold;
    justify-content: center;
}

.basic-info-profile-button {
    display: block;
    margin-left: 20px;
    height: 100px;
}