.user-info-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    font-size: 22px;
}

.basic-info-profile-container {
    border: 1px solid lightblue;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.basic-info-profile-icon {  
    height: 100px;
    width: 100px;
}

.basic-info-profile-data {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-right: 20px;
    font-weight: bold;
    justify-content: center;
}

.basic-info-profile-button {
    display: block;
    margin-left: 20px;
    height: 100px;
}

.basic-info-stats{

}