.user-info-container {
    display: flex;
    flex-direction: column; 
}

.basic-info-profile-container {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.basic-info-profile-icon {  
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.basic-info-profile-data {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-right: 20px;
    font-weight: bold;
    justify-content: center;
}

.basic-info-profile-button {
    display: block;
    margin-left: 20px;
    height: 100px;
}

.basic-info-stats{
    margin-top: 50px;
    border: 1px solid gray;
}