<div class="user-info-container">
<div *ngIf="summonerInfo">
    <div class="basic-info-profile-container">
        <div class="basic-info-profile-data">
            <p>Summoner found!</p>
            <p>Name: {{summonerInfo.name}}</p>
            <p>Level: {{summonerInfo.summonerLevel}}</p>
        </div>
        <img class="basic-info-profile-icon" src={{summonerInfo.profileIconId}} alt="">
        <button class="basic-info-profile-button" (click)="getMatchHistory()">Get match history!</button>    
    </div>
</div>
<div *ngIf="hasInfo" class="container basic-info-stats">
    {{matchInfo}}
</div>

</div>