<div class="results-table-column">
  <h2 class="results-table-column-header">Performance:</h2>  
  <h6 class="results-table-column-subtitle">and the winner is...  <button class="primary-button" (click)="showResults()">Calculate final score</button></h6>
  <table class="table">
      <tr>
          <td>Kills:</td><td [ngClass]="calculateResult(results[0])">{{ calculateResult(results[0]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[0] }} points!</td>
      </tr>
      <tr>
          <td>Deaths:</td><td [ngClass]="calculateResult(-results[1])">{{ calculateResult(-results[1]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[1] }} points!</td>
      </tr>
      <tr>
          <td>Assists:</td><td [ngClass]="calculateResult(results[2])">{{ calculateResult(results[2]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[2] }} points!</td>
      </tr>
      <tr>
          <td>Double kills:</td><td [ngClass]="calculateResult(results[3])">{{ calculateResult(results[3]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[3] }} points!</td>
      </tr>
      <tr>
          <td>Triple kills:</td><td [ngClass]="calculateResult(results[4])">{{ calculateResult(results[4]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[4] }} points!</td>
      </tr>
      <tr>
          <td>Quadra kills:</td><td [ngClass]="calculateResult(results[5])">{{ calculateResult(results[5]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[5] }} points!</td>
      </tr>
      <tr>
          <td>Penta kills:</td><td [ngClass]="calculateResult(results[6])">{{ calculateResult(results[6]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[6] }} points!</td>
      </tr>
      <tr>
          <td>Gold earned:</td><td [ngClass]="calculateResult(results[7])">{{ calculateResult(results[7]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[7] }} points!</td>
      </tr>
      <tr>
          <td>Total damage dealt:</td><td [ngClass]="calculateResult(results[8])">{{ calculateResult(results[8]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[8] }} points!</td>
      </tr>
      <tr>
          <td>Total minions killed:</td><td [ngClass]="calculateResult(results[9])">{{ calculateResult(results[9]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[9] }} points!</td>
      </tr>
      <tr>
          <td>Neutral minions killed:</td><td [ngClass]="calculateResult(results[10])">{{ calculateResult(results[10]) }}</td> <td [@fade] *ngIf="showPoints"> {{ points[10] }} points!</td>
      </tr>
  </table>
</div>
