<div class="container">
  <div>
      <p><strong>Temporal input to avoid apikey abuse</strong></p>
      <label for="apikey">apikey:</label>
      <input id="apikey" type="text" [(ngModel)]="apikey"/>
      <p>Using APIKEY: {{apikey}}</p>
      <hr/>
  </div>
</div>

<div class="container">
  <div>
    <label for="summonerInput">Put your summoner name here:</label>
    <input id="summonerInput" type="text">
  </div>
  <div>
    <label for="serverSelect">Pick your server:</label>
    <select id="serverSelect">
      <option value="LAN">LAN</option>
      <option value="LAS">LAS</option>
      <option value="NA">NA</option>
      <option value="EU">EU</option>
    </select>
  </div>
</div>