  
  <div class="stats-container">
    <div class="table-column">
        <h2 class="table-column-header">{{ userMatches.agregatedInfo.summName }} stats:</h2>  
        <h6 class="table-column-subtitle">Matches analized: {{ userMatches.agregatedInfo.matchesFound }}</h6>
        <table class="table">
            <tr>
            <td>Kills:</td><td class="number-cell">{{ userMatches.agregatedInfo.kills / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Deaths:</td><td class="number-cell">{{ userMatches.agregatedInfo.deaths / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Assists:</td><td class="number-cell">{{ userMatches.agregatedInfo.assists / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Double kills:</td><td class="number-cell">{{ userMatches.agregatedInfo.doubleKills / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Triple kills:</td><td class="number-cell">{{ userMatches.agregatedInfo.tripleKills / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Quadra kills:</td><td class="number-cell">{{ userMatches.agregatedInfo.quadraKills / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Penta kills:</td><td class="number-cell">{{ userMatches.agregatedInfo.pentaKills / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Gold earned:</td><td class="number-cell">{{ userMatches.agregatedInfo.goldEarned / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Total damage dealt:</td><td class="number-cell">{{ userMatches.agregatedInfo.totalDamageDealtToChampions / userMatches.agregatedInfo.matchesFound }}</td>
            </tr>
            <tr>
                <td>Total minions killed:</td><td class="number-cell">{{ userMatches.agregatedInfo.totalMinionsKilled / userMatches.agregatedInfo.matchesFound}}</td>
            </tr>
            <tr>
                <td>Neutral minions killed:</td><td class="number-cell">{{ userMatches.agregatedInfo.neutralMinionsKilled / userMatches.agregatedInfo.matchesFound}}</td>
            </tr>
        </table>
    </div>
</div>

