  
  <div class="stats-container">
    <div class="table-column">
        <h2 class="table-column-header">{{ matchInfo.agregatedInfo.summName }} stats:</h2>  
        <h6 class="table-column-subtitle">Matches analized: {{ matchInfo.agregatedInfo.matchesFound }}</h6>
        <table class="table">
            <tr>
            <td>Kills:</td><td>{{ matchInfo.agregatedInfo.kills }}</td>
            </tr>
            <tr>
                <td>Deaths:</td><td>{{ matchInfo.agregatedInfo.deaths }}</td>
            </tr>
            <tr>
                <td>Assists:</td><td>{{ matchInfo.agregatedInfo.assists }}</td>
            </tr>
            <tr>
                <td>Double kills:</td><td>{{ matchInfo.agregatedInfo.doubleKills }}</td>
            </tr>
            <tr>
                <td>Triple kills:</td><td>{{ matchInfo.agregatedInfo.tripleKills }}</td>
            </tr>
            <tr>
                <td>Quadra kills:</td><td>{{ matchInfo.agregatedInfo.quadraKills }}</td>
            </tr>
            <tr>
                <td>Penta kills:</td><td>{{ matchInfo.agregatedInfo.pentaKills }}</td>
            </tr>
            <tr>
                <td>Gold earned:</td><td>{{ matchInfo.agregatedInfo.goldEarned }}</td>
            </tr>
            <tr>
                <td>Total damage dealt:</td><td>{{ matchInfo.agregatedInfo.totalDamageDealtToChampions }}</td>
            </tr>
            <tr>
                <td>Total damage taken:</td><td>{{ matchInfo.agregatedInfo.totalDamageTaken }}</td>
            </tr>
            <tr>
                <td>Total minions killed:</td><td>{{ matchInfo.agregatedInfo.totalMinionsKilled }}</td>
            </tr>
            <tr>
                <td>Neutral minions killed:</td><td>{{ matchInfo.agregatedInfo.neutralMinionsKilled }}</td>
            </tr>
        </table>
    </div>

  <div class="rival-container">
    <smmm-user-selection *ngIf="!contenderMatchInfo" [contenderMatchInfo]="matchInfo"></smmm-user-selection>
  </div>
</div>

