@import '../../css/colors';

.table-column {
    display: inline-block;
    margin: auto;

    &-header {
        padding-top: 10px;
        text-align: center;
    }
    &-subtitle {
        text-align: center;
    }
}

.table-half-column {
    display: inline-block;
    flex-wrap: nowrap;
}

.table tbody td {
    border-top: 1px solid #000;
}

.rival-container {
    display: inline-block;
}

.stats-container {
    background-color: lighten($background-color, 5);
    display:flex;
    box-shadow: 1px 1px 2px 2px green;  
}

.table-column-subtitle {
    color: $blue;
    margin: 11px 0;
}

.final-score {
    width: 30%;
    float: right;
}