@import 'css/colors';

.userselector {
    display:flex;
    flex-direction: row;
}

.secondUserSelector {
    display: inline-block;
}

.user-selector, .user-info {
    display: inline-block;
    padding: 8px;
}

.userselector {
    & .user-selector {
        margin: 10px 0 0 0;     
        background-color: darken($background-color, 2);
        box-shadow: 1px 1px 2px 2px green;
    }

    & .user-info {
        margin-top: 10px;
        background-color: darken($background-color, 2);
        box-shadow: 1px 1px 2px 2px green;
    }
}

.secondUserSelector {
    & .user-selector {
        display: block;
        background-color: darken($background-color, 2);
        box-shadow: 1px 1px 2px 2px green;
    }

    & .user-info {
        display: block;
        margin: 20px 0px 20px 2px;
        background-color: darken($background-color, 2);
        box-shadow: 1px 1px 2px 2px green;
    }
}

.pro-player-container {
    background-color: darken($background-color, 2);
    box-shadow: 1px 1px 2px 2px green;
    display: block;
}

.stats-table {
    padding: 0;
    display:flex;
    flex-direction: row;

    & > smmm-compare-table {
        padding-left: 0;
        padding-right: 0;
    }
}

.final-score-table {
    margin: 0;
    padding: 0;
}
