<smmm-header></smmm-header>

<div class="container">
    <div class="userselector">
        <smmm-user-selection 
            class="col-md-6 user-selector" 
            (userUpdated)='onUserSelected($event)'>
        </smmm-user-selection>
        <smmm-user-basic-info 
            [@slide]
            class="col-md-6 user-info" 
            (matchesFound)='onMatchesFound($event)' 
            *ngIf="userInfo" 
            [userInfo]="userInfo">
        </smmm-user-basic-info>
    </div>

    <smmm-result-display 
        [results]="results" 
        *ngIf="results"
        (resetSecondUserMatches)="onResetMatches($event)" >
    </smmm-result-display>

    <div class="stats-table container">
        <smmm-compare-table 
            [@fade]
            class="col-md-4"
            id="first-table"
            [userMatches]="userMatches" 
            *ngIf="userMatches">
        </smmm-compare-table>

        <div class="secondUserSelector" *ngIf="userMatches && !secondUserMatches" [@fade-fast]>
            <smmm-pro-player-list
                (gotProPlayer)='onProPlayerSelected($event)'
                class="pro-player-container">
            </smmm-pro-player-list>    
            <smmm-user-selection 
                class="user-selector" 
                (userUpdated)='onSecondUserSelected($event)'>
            </smmm-user-selection>
            <smmm-user-basic-info 
                [@fade-fast]
                class="user-info" 
                (matchesFound)='onSecondMatchesFound($event)' 
                *ngIf="secondUserInfo" 
                [userInfo]="secondUserInfo">
            </smmm-user-basic-info>
        </div>

        <smmm-compare-table 
            [@slide]
            class="col-md-4"
            [userMatches]="secondUserMatches" 
            *ngIf="secondUserMatches">
        </smmm-compare-table>

        <smmm-final-score-table 
            [@slide]
            class="col-md-4 final-score-table"          
            (sendFinalScore)="onShowResult($event)"
            *ngIf="userMatches && secondUserMatches" 
            [userMatches]="userMatches" 
            [secondUserMatches]="secondUserMatches">
        </smmm-final-score-table>
    </div>

    <router-outlet></router-outlet>
</div>
