@import 'css/colors';

.userselector {
    display:flex;
    flex-direction: row;
}

.secondUserSelector {
    display: inline-block;
}

.user-selector, .user-info {
    display: inline-block;
    padding: 8px;
}

.userselector {
    & .user-selector {
        margin: 10px 0 0 0;     
        background-image: url('../assets/bluewaves.png');
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;   
        box-shadow: 1px 1px 2px 2px black;
    }

    & .user-info {
        margin-top: 10px;
        background-image: url('../assets/bluewaves.png');
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;   
        box-shadow: 1px 1px 2px 2px black;
    }
}

.secondUserSelector {
    margin: 20px;

    & .user-selector {
        display: inline-block;
        background-color: #2c3e50;
        box-shadow: 1px 1px 2px 2px black;
    }

    & .user-info {
        display: block;
        margin: 20px 0px 20px 2px;
        background-color: #2c3e50;
        box-shadow: 1px 1px 2px 2px black;
    }

    .pickers-container {
        display: flex;
    }
}

.pro-player-container {
    background-color: #2c3e50;
    box-shadow: 1px 1px 2px 2px black;
    display: inline-block;
}

.stats-table {
    margin-top: 20px;
    padding: 0;
    display:flex;
    flex-direction: row;

    & > smmm-compare-table {
        padding-left: 0;
        padding-right: 0;
    }
}

.final-score-table {

    margin: 1px;
    padding: 0;
}
