<div class="summoner-input-container">
  <div class="line-container">
    <label for="summonerInput">Put your summoner name here:</label>
    <input id="summonerInput" type="text" [(ngModel)]="summInfo.summonerName">
  </div>
  <div class="line-container">
    <label for="serverSelect">Pick your server:</label>
    <select id="serverSelect" [(ngModel)]="summInfo.region">
      <option value="br1">BR</option>
      <option value="eun1">EUNE</option>
      <option value="euw1">EUW</option>
      <option value="jp1">JP</option>
      <option value="kr">KR</option>
      <option value="la1">LAN</option>
      <option value="la2">LAS</option>
      <option value="na1">NA</option>
      <option value="oc1">OCE</option>
      <option value="ru">RU</option>
      <option value="tr1">TR</option>
    </select>
  </div>
  <button class="primary-button" (click)="getMatchList()">Find me...</button>
  <p>{{getUserError}}</p>
</div>