<div class="container summoner-input-container">
  <div>
    <label for="summonerInput">Put your summoner name here:</label>
    <input id="summonerInput" type="text" [(ngModel)]="summonerName">
  </div>
  <div>
    <label for="serverSelect">Pick your server:</label>
    <select id="serverSelect" [(ngModel)]="region">
      <option value="br1">BR</option>
      <option value="eun1">EUNE</option>
      <option value="euw1">EUW</option>
      <option value="jp1">JP</option>
      <option value="kr">KR</option>
      <option value="la1">LAN</option>
      <option value="la2">LAS</option>
      <option value="na1">NA</option>
      <option value="oc1">OCE</option>
      <option value="ru">RU</option>
      <option value="tr1">TR</option>
    </select>
  </div>
  <button (click)="getMatchList()">Go!</button>
  <p>{{getUserError}}</p>
</div>
<smmm-user-basic-info [summonerInfo]="userInfo" [region]="region"></smmm-user-basic-info>